:root {
    --color-light-100: #FFF;
    --color-rose: #FF93BA;
    --color-red: #A0000B;

    --fonte-principal: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte-principal);
}

body {
    background-image: url("../img/background.png");
    height: 100vh;
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

.pergunta {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-light-100);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btns {
    width: 450px;
}

.btn {
    border: none;
    border-radius: 6px;
    padding: 12px 60px;
    background: var(--color-light-100);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-red);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.btn:last-child {
    margin-left: 75px;
}

.btn:first-child:hover {
    box-shadow: 0px 0px 10px 3px rgba(160, 0, 11, 0.8);
}

.resposta {
    font-size: 1.25rem;
    color: var(--color-light-100);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
}

.info {
    font-size: 1rem;
    font-weight: 300;
    text-decoration-line: none;
    color: var(--color-rose);
}

.info a {
    text-decoration-line: underline;
    color: var(--color-rose);
}

.rodape {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media (max-width: 600px){
    .pergunta {
        text-align: center;
    }

    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 80%;
    }

    .btn:last-child {
        margin-left: 0px;
    }

    .resposta{
        width: 70%;
        text-align: center;
    }
}
